body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 25px 50px 75px 100px;

}

header {
  h1 {
    color: #ff0000;
    text-align: left;
    justify-content: center;
    display: inline;
    margin: 20px;
    font-size: 60px;

  }
}

nav {
  ul {
    justify-content: end;
    color: #000000;
    text-decoration: none;
    display: inline ;
    
  }

}

h2 {
  color: rgb(255, 0, 0);
  text-align: center;
  display: block;
}

p {
  font-size: px;
  line-height: 1.5;
}